<header>
    <h1>{{judul}}</h1>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tentang">Tentang</a></li>
            <li><a href="/bantuan">Bantuan</a></li>
        </ul>
    </nav>
</header>